name: Run Python Tests
on: push

jobs:
  tests:
    strategy:
      fail-fast: false # run all variants across python versions/os to completion
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13", "3.14"]
        os: ["ubuntu-latest"]
        include:
          - os: "macos-13" # x86-64
            python-version: "3.10"
          - os: "macos-14" # ARM64 (M1)
            python-version: "3.10"
          - os: "windows-latest"
            python-version: "3.10"

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Install uv
        uses: astral-sh/setup-uv@caf0cab7a618c569241d31dcd442f54681755d39 # v3
      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@8d9ed9ac5c53483de85588cdf95a591a75ab9f55 # v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: uv sync --group=dev
      - name: Run tests with pytest
        run: uv run --group=dev pytest -s
      - name: Run README tests
        run: uv run --group=dev pytest --markdown-docs README.md
